<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naic.mapper.StorageMessageMapper" >

	<select id="findStorageMessageList" parameterType="java.lang.String" resultType="com.naic.po.StorageMessage" >
		select id,phone,message,create_time createTime,update_time updateTime from storage_message
	</select>

</mapper>